/*PC first 1905px width*/
* {padding: 0; margin: 0;}

/* header */
header {
    display: flex;
     align-items: center;
     justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1000;
     /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
} .center_header {
    position: relative;
    display: flex;
     flex-direction: row;
     align-items: center;
     gap: 150px;
    height: 100%;
    background-color: rgb(255, 255, 255);
} .header_icons {
    display: flex;
     align-items: center;
     gap: 50px;
} 


.two_elements {
    display: flex;
     gap: 5px;
     align-items: center;
} 
.fa-chevron-down {font-size: small; transition: all 0.3s ease;}
.header_icon_text {
    transition: all 0.3s ease;
    -webkit-user-select: none;
    font-size: small;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    transition: all 0.3s ease;
}
.two_elements:hover {cursor: pointer;}
.two_elements:hover .fa-chevron-down {color: rgb(255, 191, 72);} 
.two_elements:hover .header_icon_text {color: rgb(255, 191, 72);}



.right_icons {
    display: flex;
     gap: 20px;

} .right_icons i {
    cursor: pointer;
    font-size: medium;
    transition: all 0.3s ease;
}





/* /header */
#main_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 110px;
    width: 100%;
    padding-top: 100px;
} #main_2 {
    display: flex;
     flex-direction: column;
     align-items: center;
    margin-top: 110px;
    gap: 40px;
}
/* PRODUCT LABEL */
.label_text {
    position: absolute;
     top: 50%;
     left: 10%;
     transform: translateY(-50%);

    display: flex;
     flex-direction: column;
     gap: 30px;
}
.label_text :nth-child(1) {
    transition: all 0.3s ease;
    -webkit-user-select: none;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    color: rgb(34, 34, 34);
}
.label_text :nth-child(2) {
    transition: all 0.3s ease;
    -webkit-user-select: none;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 800;
    color: rgb(109, 109, 109);
}
.shop_now {
    transition: all 0.3s ease;
    -webkit-user-select: none;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 700;
    color: rgb(255, 207, 75);
} .shop_now:hover {color: black;}
.product_label {
    position: relative;
    display: flex;
     flex-direction: column;
     align-items: center;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 1500px;
    overflow: hidden
} .wooden_chair {
    width: 1500px;
    height: 700px;
}
/* GRID-1 GLOBAL STYLES */
.grid-1 {
    position: relative;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1200px;
    aspect-ratio: 2 / 1;
    background-color: rgb(255, 255, 255);
}

.g1-1, .g1-2, .g1-3, .g1-4, .g1-5 {
    position: relative;
    background-color: rgb(219, 219, 219);

    overflow: hidden
}
.g1-2 {
    grid-row: span 2;
    position: relative;
}
.g1-5 {
    position: relative;
}
.g1-1 img, .g1-2 img, .g1-3 img, .g1-4 img, .g1-5 img {
    width: 100%;
    height: 100%;

    transition: transform 0.3s ease;
}
.g1-1:hover img,.g1-2:hover img,.g1-3:hover img,.g1-4:hover img,.g1-5:hover img {
    transform: scale(1.1);
}

.grid_circle_big {
    display: flex;
     align-items: center;
     justify-content: center;
    background-color: rgb(255, 199, 96);
    width: 100px; height: 100px;
    border-radius: 50%;
    position: absolute;
     right: 5%; top: 5%;
} .grid_circle_big p, .grid_circle_small p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: white;
}
.grid_circle_small {
    display: flex;
     align-items: center;
     justify-content: center;
    background-color: rgb(255, 199, 96);
    position: absolute;
     width: 70px; height: 70px;
     right: 15%; top: 10%;


    border-radius: 50%;
}
/* FONTS */
.left_P, .right_P {
    display: flex;
     flex-direction: column;
     gap: 10px;

    position: absolute;
     top: 50%;
     left: 25%;
    transform: translate(-50%, -50%);
} .right_P {left: 75%;}
.span_text {
    display: flex;
     flex-direction: column;
     gap: 5px;  
}
.left_P p, .right_P p, .span_text p, .anim_text {
    font-family: 
        -apple-system, BlinkMacSystemFont, 
        "SF Pro Display", "SF Pro Text",
        "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    -webkit-user-select: none
}
.anim_text {font-weight: 600; font-size: 13px;}
.span_text p {font-weight: 600;}
.left_P :nth-child(1), .right_P :nth-child(1), .span_text :nth-child(1) {
    font-size: large;
    letter-spacing: -0.3px;
} .left_P :nth-child(2), .right_P :nth-child(2), .span_text :nth-child(2) {
    color: grey;
    font-weight: 700;
}
.anim_text {
    position: absolute;
     top: 45%;
     left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: 0.3s ease;
}

/*/////////////////////////////*/
/* features */
.features {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1450px;
    height: 700px;
    border: 1px solid rgba(94, 94, 94, 0.2);
    filter: brightness(1.1);
    z-index: 2;
} .grid-features {
    width: 1020px;
    height: 480px;
    display: grid;
     gap: 30px;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr;

    background-color: rgb(255, 255, 255);
}

/* flex text + text zone */
.flex_product_text {
    background-color: rgb(255, 255, 255);
    display: flex;
     align-items: center;
     justify-content: center;
}
.group_flex_for_flex_product_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.flex_text_button {
    display: flex;
     align-items: center;
     justify-content: center;
    background-color: rgb(255, 199, 96);
    height: 70px;
    width: 200px;
    transition: all 0.5s ease;
} .purchase_theme, .footer_button p {
    -webkit-user-select: none;
    font-size: small;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    transition: all 0.5s ease;
}
.flex_text_button:hover {
    background-color: black;
} .flex_text_button:hover .purchase_theme {
    color: rgb(255, 199, 96);
}
/* --------- */



/* --- */
.flex_product {
    background-color: rgb(134, 134, 134);
    display: flex;
    flex-direction: column;
    z-index: 1;
} 

.item {
    display: flex;
     align-items: center;
     justify-content: center;
    width: 100%;
    height: 82%;
    background-color: hsl(0, 0%, 87%);
    position: relative;
    z-index: 2;
} 

.span {
    display: flex;
     align-items: center;
    height: 18%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 4;
}

.anim {
    display: flex;
     align-items: center;
     justify-content: center;
    width: 100%;
    height: 13%;
    background-color: rgb(255, 204, 109);
    position: relative;
    position: absolute;
    bottom: -18%;
    z-index: 3;
    
    transition: transform 0.3s ease, background-color 0.5s ease;
}

.circle {
    position: absolute;
    display: flex;
     justify-content: center;
     align-items: center;
    background-color: rgb(255, 255, 255);
    width: 80px; height: 80px;
    border-radius: 50%;
    opacity: 0;

    transition: 0.3s ease;
}

.div_img_icon {
    display: flex;
     align-items: center;
     justify-content: center;
    width: 80%;
    height: 80%;
    opacity: 1;
} .search {
    width: 50%;
    height: 50%;
}


/*анимации*/
.item:hover .anim {
    transform: translateY(-65px);
}

.anim:hover {
    background-color: black;
}

.item:hover .circle {
    opacity: 1;
    width: 50px;
    height: 50px;
}

.circle:hover {
    background-color: rgb(255, 204, 109);
}

/**/
.product_img {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/* newsletter laptop */
.newsletter {
    display: flex;
     align-items: center;
     justify-content: center;
    width: 90%;
    height: 270px;
    background-color: rgb(255, 0, 0);
}.newsletter img {
    width: 100%;
    height: 100%;
}


.sub_zone {
    display: flex;
     flex-direction: column;
     gap: 10px;
}

.mail_container {
    display: flex;
     flex-direction: row; /*laptop*/
}

.email_write {
    display: flex;
     align-items: center;
     padding-left: 20px;
    background-color: white;
    height: 60px;
    width: 350px;
}

.subscribe_button {
    display: flex;
     align-items: center;
     justify-content: center;
    background-color: rgb(255, 199, 96);
    height: 60px;
    width: 160px;
    transition: all 0.7s ease;
} .subscribe_button p {
    -webkit-user-select: none;
    font-size: small;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
} .subscribe_button:hover {
    background-color: black;
}
/* ----------------- */
.a, .b {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 1020px;
}
.big_text {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: normal;
}
.small_text {
    -webkit-user-select: none;
    font-size: medium;
    color: rgb(161, 161, 161);
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
/* grid-2 laptop*/
.grid-2 {
    position: relative;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1020px;
    height: 1500px;
    background-color: rgb(255, 255, 255);
} .grid-2 .item {
    background-color: rgb(238, 238, 238);
}



/* footer */
footer {
    display: flex;
     flex-direction: column;
    margin-top: 100px;
    width: 100%;
}
.footer_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1020px;
    height: 60px;
    background-color: rgb(31, 31, 31);
    transition: all 0.3s ease;
} .footer_button:hover {background-color: rgb(255, 204, 109);}
  .footer_button p {font-size: small; letter-spacing: 0.5px;}
.go_center {
    display: flex;
     justify-content: center;
     align-items: center;
    width: 100%;
    height: 200px;
     background-color: rgb(231, 231, 231);
}

.brands {
    height: 100%;
    display: flex;
     flex-direction: row;
     align-items: center;
     gap: 100px;
     background-color: rgb(231, 231, 231);
    
} .brand {
    width: auto; height: auto;
    display: flex;
     align-items: center;
     justify-content: center;
}

/* rights reserved */
.rights_reserved {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 150px;
} .rights_reserved :nth-child(1) {
    position: absolute;
     left: 5%;
     top: 50%;
     transform: translateY(-50%);
} .rights_reserved :nth-child(2) {
    position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

}


